.mapa-pp, .contenedor-profesional .foto-profesional img, .carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer-negro .flex-footer, .footer-negro, .contenedor-profesional .foto-profesional .link-blanco, .contenedor-profesional .foto-profesional, .contenedor-profesional, .header-66 .header-42, .header-66 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.parallax-contacto, .parallax-seguros, .parallax-contaduria, .parallax-derecho {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-contacto, .parallax-seguros, .parallax-contaduria, .parallax-derecho {
  height: 52vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.parallax-contacto h2, .parallax-seguros h2, .parallax-contaduria h2, .parallax-derecho h2 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
.parallax-contacto p, .parallax-seguros p, .parallax-contaduria p, .parallax-derecho p {
  color: #ffffff;
  font-size: 1rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body main, body article {
  padding: 2.5rem;
}

.link-blanco a, .link-blanco .nav-link, .link-blanco .nav-link:hover, .link-blanco .nav-link.active {
  font-size: 0.9rem;
  text-decoration: none;
  color: #eeeeee;
}
.link-blanco a:hover, .link-blanco .nav-link:hover, .link-blanco .nav-link:hover:hover, .link-blanco .nav-link.active:hover {
  color: #ffffff;
}
.link-blanco a.active, .link-blanco .nav-link.active, .link-blanco .nav-link:hover.active, .link-blanco .nav-link.active.active {
  color: #cccccc;
}
.link-blanco a.active:hover, .link-blanco .nav-link.active:hover, .link-blanco .nav-link:hover.active:hover, .link-blanco .nav-link.active.active:hover {
  color: #ffffff;
}
@media screen and (min-width: 640px) {
  .link-blanco a, .link-blanco .nav-link, .link-blanco .nav-link:hover, .link-blanco .nav-link.active {
    font-size: 1rem;
  }
}

.link-gris a, .link-gris .nav-link, .link-gris .nav-link:hover, .link-gris .nav-link.active {
  font-size: 0.9rem;
  text-decoration: none;
  color: #cccccc;
}
.link-gris a:hover, .link-gris .nav-link:hover, .link-gris .nav-link:hover:hover, .link-gris .nav-link.active:hover {
  color: #ffffff;
}
.link-gris a.active, .link-gris .nav-link.active, .link-gris .nav-link:hover.active, .link-gris .nav-link.active.active {
  color: #767676;
}
.link-gris a.active:hover, .link-gris .nav-link.active:hover, .link-gris .nav-link:hover.active:hover, .link-gris .nav-link.active.active:hover {
  color: #ffffff;
}
@media screen and (min-width: 640px) {
  .link-gris a, .link-gris .nav-link, .link-gris .nav-link:hover, .link-gris .nav-link.active {
    font-size: 1rem;
  }
}

.link-negro a, .link-negro .nav-link, .link-negro .nav-link:hover, .link-negro .nav-link.active {
  font-size: 0.9rem;
  text-decoration: none;
  color: #000000;
}
.link-negro a:hover, .link-negro .nav-link:hover, .link-negro .nav-link:hover:hover, .link-negro .nav-link.active:hover {
  color: #333333;
}
.link-negro a.active, .link-negro .nav-link.active, .link-negro .nav-link:hover.active, .link-negro .nav-link.active.active {
  color: #767676;
}
.link-negro a.active:hover, .link-negro .nav-link.active:hover, .link-negro .nav-link:hover.active:hover, .link-negro .nav-link.active.active:hover {
  color: #333333;
}
@media screen and (min-width: 640px) {
  .link-negro a, .link-negro .nav-link, .link-negro .nav-link:hover, .link-negro .nav-link.active {
    font-size: 1rem;
  }
}

.fondo-blanco {
  background-color: #ffffff;
}

.fondo-blanco-1 {
  background-color: #eeeeee;
}

.fondo-blanco-2 {
  background-color: #cccccc;
}

.fondo-gris {
  background-color: #767676;
}

.fondo-negro-2 {
  background-color: #595959;
  color: #eeeeee;
}

.fondo-negro-1 {
  background-color: #333333;
  color: #767676;
}

.fondo-negro {
  background-color: #000000;
}

.parallax-derecho {
  background-image: url("../assets/img/ley-1.jpg");
}

.parallax-contaduria {
  background-image: url("../assets/img/dolar-1.jpg");
}

.parallax-seguros {
  background-image: url("../assets/img/trabajo-1.jpg");
}

.parallax-contacto {
  background-image: url("../assets/img/mardel-1.jpg");
}

.nav-negro h1 {
  font-size: inherit;
}
.nav-negro i {
  color: #cccccc;
}

.carousel-item {
  height: calc(100vh - 50px);
}
.carousel-item img {
  height: 100%;
}
.carousel-item .carousel-caption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.carousel-item .carousel-caption h2 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
.carousel-item .carousel-caption p {
  color: #ffffff;
  font-size: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.header-66 {
  height: 60vh;
  justify-content: center;
  align-content: flex-end;
}
.header-66 .header-42 {
  align-content: flex-end;
  height: 55vh;
  background-image: url("../assets/img/piba.jpg"); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0; /* valores de border-radius: parte superior izquierda, parte superior derecha, parte inferior derecha, parte inferior izquierda */
  overflow: hidden; /* para asegurar que la esquina redondeada sea visible */
}
.header-66 .header-42 .header-texto {
  background-color: #ffffff;
}
.header-66 .header-42 .header-texto h2 {
  color: #000000;
  font-size: 3rem;
}
.header-66 .header-42 .header-texto p {
  color: #000000;
  font-size: 1rem;
}

.contenedor-profesional {
  justify-content: space-between;
  align-items: center;
}
.contenedor-profesional .foto-profesional {
  position: relative;
  justify-content: center;
  align-items: center;
}
.contenedor-profesional .foto-profesional .link-blanco {
  position: absolute;
  bottom: 0;
  padding: 0.3rem;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
.contenedor-profesional .foto-profesional .link-blanco i {
  color: #3b70d8;
}

/* WHATSAPP */
.boton-wp {
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  width: 3.8rem;
  height: 3.8rem;
  background-color: #128851;
  color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.boton-wp i {
  font-size: 1.8rem;
}
.boton-wp:hover {
  background-color: #ffffff;
  color: #128851;
}

.mapa-pp {
  height: 66vh;
}

.footer-negro {
  height: 42vh;
  color: #595959;
  z-index: 1020;
  justify-content: center;
  align-content: center;
}
.footer-negro .flex-footer {
  justify-content: center;
  align-content: center;
  height: 16vh;
}/*# sourceMappingURL=estilo.css.map */