

.banner-pp {
    @extend %foto-pp;
}

.mapa-pp {
    @extend %foto-pp;
    height: 66vh;
}

/* WHATSAPP */
.boton-wp { 
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    width: 4em;  // Ancho del círculo
    height: 4em; // Altura del círculo
    background-color: map-get($color-pp, whatsapp);
    color: map-get($color-pp, blanco);
    border-radius: 50%;
    padding: 0; // Eliminamos el padding
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    i {
        font-size: 2.2em;
    }
    
    &:hover {
        background-color: map-get($color-pp, blanco);
        color: map-get($color-pp, whatsapp);
    }
    
}

