.footer-negro {
    color: map-get($color-pp, fondo-gris);
    background-color: map-get($color-pp, fondo-negro);
    z-index: 1020;
    .flex-footer {
        @extend %flex-pp;
        justify-content: center;
        align-content: center;
        height: 16vh;
    }
}
