.footer-negro {
    background-color: map-get($color-pp, negro);
    color: map-get($color-pp, blanco-2); // ACA VA EL MISMO COLOR QUE EL LINK GRIS !!!
    z-index: 1020;
    .flex-footer {
        @extend %flex-pp;
        justify-content: center;
        align-content: center;
        height: 16vh;
    }
}