$navbar-height: 50px; // Puedes ajustar esto según la altura real de tu barra de navegación

.carousel-item {
    height: calc(100vh - #{$navbar-height});

    img {
        @extend %foto-pp;
        height: 100%; // Ajusta la altura de la imagen al 100% del contenedor
    }

    .carousel-caption {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h2 {
            font-family: map-get($fuente-pp, h2-carousel);
            color: map-get($color-pp, blanco);
            font-size: 3rem;
            font-weight: bolder;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);;
        }

        p {
            color: map-get($color-pp, blanco);
            font-size: 1rem;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        }
    }
}


// Este es el de seguros superpuesto
.header-66 {
    @extend %flex-pp;
    height: 60vh;
    justify-content: center; 
    align-content: flex-end;

    .header-42 {
        @extend %flex-pp;
        align-content: flex-end;
        height: 55vh;
        background-image: url('../assets/img/piba.jpg'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen de fondo */
        background-size: cover;
        background-position: center;
        border-radius: 15px 15px 0 0; /* valores de border-radius: parte superior izquierda, parte superior derecha, parte inferior derecha, parte inferior izquierda */
        overflow: hidden; /* para asegurar que la esquina redondeada sea visible */

        .header-texto {
            background-color: map-get($color-pp, blanco);

            h2 {
                font-family: map-get($fuente-pp, h2-carousel);
                color: map-get($color-pp, negro);
                font-size: 3rem;
            }
    
            p {
                color: map-get($color-pp, negro);
                font-size: 1rem;
            }

        }
    }
}