article { height: 50vh; }

.foto-profesional {

    img { @extend %foto-pp; }

    .link-blanco  {

        position: absolute;
        bottom: 0;
        background-color: rgba(map-get($color-pp, negro), 0.7); // 0.5 representa el 50% de opacidad
        text-align: center;

        div { 
            @extend %flex-pp;
            i { color: map-get($color-pp, linkedin); }
        }

    }

}
