* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    a { text-decoration: none; } // si se saca de aca, volver a meter en @mixin enlace-pp
    main, article {
        margin: 3rem;
        padding: 3rem;
    }
    overflow-x: hidden;
}