* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    
    nav { h1 {font-size: inherit;} }
    main {
        padding: 2.5rem;  // Ajusta el valor según tus necesidades
    }
}