@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@700&display=swap');

$fuente-pp: (

    h2-carusel: 'Readex Pro, sans-serif',
    // h2-carousel: 'Finlandica, sans-serif',
    
    // parrafo: 'Comfortaa Thin, arial',
);

$color-pp: (
    negro-fuerte: #0B0B0B,
    negro: #212121,
    gris-negro: #585858,
    gris-medio: #8E8E8E,
    gris-blanco: #F4F4F4,
    blanco: #FAFAFA,
    whatsapp: #128C7E,
    linkedin: #0077B5
);

%foto-pp {
    width: 100%; 
    height: auto; 
    object-fit: cover;
};

%flex-pp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: center; 
    // align-content: center;
}

@mixin enlace-pp($color-link, $color-hover, $color-activo) {

    font-size: 0.9rem;
    text-decoration: none;
    color: map-get($color-pp, $color-link);

    &:hover { color: map-get($color-pp, $color-hover); };

    &.active {
        color: map-get($color-pp, $color-activo);
        &:hover { color: map-get($color-pp, $color-hover); };
    };

    @media screen and (min-width: 640px) {
        font-size: 1rem;
    };

};